# .gitignoreファイルを新規作成し、以下の内容を書き込む
cat << EOF > .gitignore
node_modules/
dist/
.local/
.ssh/
.DS_Store
*.local
EOF.ssh/
.local/
node_modules/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
